#compteLabel{
    display: block;
    background-color: #31b0d5;
    width: 100px;
    padding: 5px 25px;
    border-radius: 7px 7px 0px 0px;
    color: white;
}
#mouvementsLabel{
    display: block;
    background-color: #31b0d5;
    width: 132px;
    margin-top: 18px;
    padding: 5px 25px;
    border-radius: 7px 7px 0px 0px;
    color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#mouvementsAVLabel{
    display: block;
    background-color: rgb(255, 188, 0);
    width: 179px;
    margin-top: 18px;
    padding: 5px 25px;
    border-radius: 7px 7px 0px 0px;
    color: white;
    float: left;
    margin-bottom: 10px;
}
.pointer{
    cursor: pointer
}